<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<div id="head_container" class="">
    <div id="panel_sites" class=""></div>
</div>
<div id="search_container">

</div>
<div id="body_container" class="">

</div>

<script type="text/javascript" src="webapp.js">

</script>

{{{body}}}
</body>
</html>